<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Sprite CSS Animation">
  <meta name="color-scheme" content="light dark">
  <link rel="stylesheet" href="<%= process.env.ASSET_PREFIX %>/styles/index.css">
  <title>
    <%= htmlPlugin.options.title %>
  </title>
</head>

<body>
  <main class="container-fluid content">
    <p>Using Sprites as a <a href="https://en.wikipedia.org/wiki/Zoetrope" target="_blank" rel="noopener noreferrer">zoetrope</a> with CSS animation</p>
    <p>Click on either one to see it in action</p>
    <table>
      <thead>
        <tr>
          <th scope="col">Approach</th>
          <th scope="col">View</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">using <code>&lt;img/&gt;</code> </th>
          <td> <button><img alt="zoetrope" class="zoetrope img" src="<%= process.env.ASSET_PREFIX %>/images/hearts.png" loading="lazy"
      decoding="async" /></button></td>
        </tr>
        <tr>
          <th scope="row">using css bg image</th>
          <td><button class="zoetrope bg"></button></td>
        </tr>
      </tbody>
    </table>
   
    
  </main>
  <footer>Credit: <a href="https://leanrada.com/notes/css-sprite-sheets/"
      target="_blank">https://leanrada.com/notes/css-sprite-sheets/</a></footer>

  <link rel="preload" as="image" href="<%= process.env.ASSET_PREFIX %>/images/hearts.png" fetchpriority="high">
  <link rel="preload" as="image" href="<%= process.env.ASSET_PREFIX %>/images/hearts-bg.png" fetchpriority="high">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css" loading="lazy"
    fetchpriority="low">
    <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css" loading="lazy"
    fetchpriority="low"
>
</body>

</html>